<div *ngIf="userHasTVs; else noTVs">
  <div class="container-fluid mb-2">
    <button class="btn btn-secondary" (click)="deleteAllTVs()">Clear List</button>
  </div>
  <div class="container-fluid">
    <div *ngFor="let tvShow of tvs; let index = index" class="card my-tv-show text-white bg-secondary mb-2">
      <div class="row no-gutters">
        <div class="col-auto m-auto">
          <img [src]="getImageUrl(tvShow.poster_path)" class="img-fluid" [alt]="tvShow.name">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <div class="card-title clearfix">
              <div class="float-right">
                <i class="fa fa-star mr-2"></i>{{tvShow.vote_average}}
              </div>
              <span class="h5">
                {{index + 1}}. {{tvShow.name}}
                <span *ngIf="tvShow.next_episode_to_air.season_number">
                  S{{tvShow.next_episode_to_air.season_number}}
                </span>
                <span *ngIf="tvShow.next_episode_to_air.episode_number">
                  E{{tvShow.next_episode_to_air.episode_number}}
                </span>

              </span>
              <span *ngIf="tvShow.next_episode_to_air?.name">
                - {{tvShow.next_episode_to_air?.name}}
              </span>


              <div *ngIf="tvShow.next_episode_to_air?.air_date">
                <span *ngIf="tvShow.next_episode_to_air?.air_date">
                  <span class="font-weight-bold">Air: </span>
                  <span>{{tvShow.next_episode_to_air?.air_date}}</span>
                </span>
              </div>
              <div *ngIf="tvShow.next_episode_to_air?.overview">
                <span class="font-weight-bold">Overview: </span>
                <span>{{tvShow.next_episode_to_air?.overview}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <button class="btn btn-dark" (click)="unfollow(tvShow.id)">Unfollow</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #noTVs>
  Hello Fellow! You can follow some TV from <a href="#" [routerLink]="['/tv/popular-tv']"
    routerLinkActive="router-link-active">
    here</a> first :).
</ng-template>