$backgroundColor: #1e1e1e;
$fontColor: #ecfff2;

body {
  background: $backgroundColor;
  color: $fontColor;

  img {
    border: 0;
  }

  h3 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px 0;
    font-size: 20px;
    color: #fff;
  }

  h5 {
    margin: 5px 0;
  }

  a {
    font-weight: bold;
    color: $fontColor;
  }

  .navbar-nav {
    .nav-link {
      color: $fontColor !important;
    }
  }

  .tv-show,
  .my-tv-show {
    .card-footer {
      border: 0;
      background: transparent;
    }
  }

  .fa-star {
    color: #eeb81a;
  }

  .btn-follow {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
  }
}
